.set .dropdown {
  display: inline-block;
  width: 50px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-top; }
.set .ant-table table {
  border-left: none;
  border-right: none;
  border-radius: 0; }
.set tr > th:last-child, .set tr > td:last-child {
  border-right: none; }

.setModal .ant-table-tbody > tr > td:last-child {
  border-right: 1px solid #e8e8e8; }
.setModal .ant-table-thead > tr:first-child > th:last-child {
  border-radius: 0;
  border-right: 1px solid #e8e8e8; }
.setModal .ant-input-affix-wrapper .ant-input {
  min-height: 0; }

.sethello {
  color: #101010; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, p, span, a {
  font-size: 14px; }

.header {
  height: 60px;
  border-bottom: 1px solid #dedede;
  background-color: #fff; }

.center {
  text-align: center; }

.header .header-content {
  width: 1175px;
  margin: 0 auto;
  height: 100%;
  line-height: 60px;
  font-size: 20px; }
.header .header-logo {
  vertical-align: text-bottom;
  height: 32px;
  width: 32px;
  margin-right: 10px; }
.header .link-menu {
  height: 60px;
  float: right;
  font-size: 14px;
  color: #2e313c;
  cursor: pointer; }

.footer {
  height: 80px;
  width: 100%;
  min-width: 1366px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 2px solid #e5e9ed; }

.copyright {
  color: #656d78;
  font-size: 14px;
  text-align: center;
  margin-top: 23px;
  line-height: 20px; }

#root {
  background: #eeeeee;
  height: 100%; }

.share-content {
  width: 800px;
  margin: 0 auto;
  min-height: 400px;
  background-color: #fff;
  margin-top: 30px;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px; }
  .share-content .doc-title {
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    font-size: 26px; }
  .share-content .info-block {
    margin-top: 10px; }
  .share-content .limitTime {
    margin-left: 12px; }
  .share-content .content {
    text-align: center; }
  .share-content .download-wrap {
    height: 60px;
    margin: 0 auto;
    margin-top: 80px;
    display: inline-block;
    position: relative; }
  .share-content .pwdinput {
    width: 100px;
    margin: 0 12px; }
  .share-content .on-error {
    border: 1px solid #de0010; }
  .share-content .error-tips {
    color: #de0010;
    position: absolute;
    left: 48px;
    margin-top: 8px;
    font-size: 16px; }

.radio-item {
  display: inline-block;
  width: 100px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top; }

.share-content-block {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-color: #fdfdfd;
  margin-top: 20px; }

/*# sourceMappingURL=index.css.map */
