html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, p, span, a {
  font-size: 14px; }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 20px auto;
  padding: 0 15px; }

.confirm-red .ant-confirm-body > .anticon {
  color: #f5222d; }
.confirm-red .ant-btn-primary {
  color: #f5222d;
  background: #f5f5f5;
  border-color: #d9d9d9; }
.confirm-red .ant-btn-primary:hover {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f; }

.page {
  margin: 20px 0;
  position: relative; }

.page .page-num {
  text-align: right;
  padding-right: 160px; }
.page .page-size {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  text-align: right; }
.page .ant-pagination-item-active {
  background: #0692e1; }
.page .ant-pagination-item-active a {
  color: #fff; }
.page .ant-pagination.mini .ant-pagination-item {
  min-width: 22px;
  height: 22px;
  line-height: 20px;
  margin: 0 5px; }

.icon-blue, .icon-red {
  color: #6a727d; }

.icon-blue:hover {
  color: #0692e1;
  cursor: pointer; }

.icon-red:hover {
  color: #f5222d;
  cursor: pointer; }

.ant-breadcrumb-link:hover {
  color: #0692e1;
  cursor: pointer; }

@font-face {
  font-family: 'iconfont';
  /* project id 683888 */
  src: url("../font/iconfont.eot"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.header {
  border-bottom: 1px solid #dedede;
  width: 100%;
  height: 60px;
  position: relative; }

.center {
  text-align: center; }

.header {
  height: 60px; }
  .header .header-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #dedede;
    z-index: 999;
    background-color: #fff; }
  .header .header-content {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px; }
  .header .header-logo {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    background: #0692e1;
    border-radius: 32px;
    padding: 6px;
    margin-right: 15px;
    line-height: 20px; }
  .header .logo-text {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle; }
  .header .link-menu {
    height: 60px;
    float: right;
    font-size: 14px;
    color: #2e313c;
    cursor: pointer; }

.footer {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e5e9ed; }

.copyright {
  color: #656d78;
  font-size: 14px;
  text-align: center;
  margin-top: 28px;
  line-height: 20px; }

#root {
  background: #f5f7fa;
  height: 100%; }

.share-container {
  min-width: 1175px;
  width: 100%; }

.share-content {
  width: 800px;
  margin: 0 auto;
  min-height: 400px;
  background-color: #fff;
  margin-top: 30px;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px; }
  .share-content .doc-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    font-size: 16px; }
  .share-content .info-block {
    margin-top: 10px; }
  .share-content .limitTime {
    margin-left: 16px; }
  .share-content .content {
    text-align: center; }
  .share-content .download-wrap {
    height: 60px;
    margin: 0 auto;
    margin-top: 80px;
    display: inline-block;
    position: relative; }
  .share-content .pwdinput {
    width: 100px;
    margin-left: 8px;
    margin-right: 10px; }
  .share-content .on-error {
    border: 1px solid #f5222d; }
  .share-content .error-tips {
    color: #f5222d;
    position: absolute;
    left: 48px;
    margin-top: 8px;
    font-size: 16px; }

.mobile-header {
  height: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  background: #fff; }
  .mobile-header .header-logo {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    margin-right: 10px; }
  .mobile-header span {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle; }

.mobile-wrap {
  padding: 0 17px; }
  .mobile-wrap .m-doc-title {
    margin-top: 23px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #2e313c;
    border-bottom: solid 1px #e5e9ed; }
  .mobile-wrap .m-doc-date {
    color: #656d78;
    font-size: 14px;
    padding-top: 12px; }
  .mobile-wrap .op-container {
    margin-top: 32px;
    position: relative; }
  .mobile-wrap .m-error-tips {
    position: absolute;
    top: 42px;
    left: 40px;
    color: #f5222d; }

.radio-item {
  display: inline-block;
  width: 100px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top; }

.share-content-block {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-color: #fdfdfd;
  margin-top: 20px; }

.set .dropdown {
  display: inline-block;
  width: 50px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-top; }
.set .ant-table-small > .ant-table-content > .ant-table-body > table {
  padding: 0; }
.set .ant-table-small {
  border-radius: 0; }
.set .ant-table-title {
  border-radius: 0; }
.set .ant-table.ant-table-bordered .ant-table-title {
  padding-left: 8px; }

.setHeader {
  position: relative;
  width: 100%;
  margin: 20px 0 15px;
  line-height: 35px; }

.setHeaderBtn {
  position: absolute;
  top: 0;
  right: 0; }

/*# sourceMappingURL=index.css.map */
