// @import './common.scss';
$min-width: 1175px;
#root {
  background: #f5f7fa;
  height: 100%;
  // min-width: $min-width;
}
.share-container{
  min-width: $min-width;
  width: 100%;
}
.share-content {
  width: 800px;
  margin: 0 auto;
  min-height: 400px;
  background-color: #fff;
  margin-top: 30px;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  .doc-title {
    // padding: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }
  .info-block {
    margin-top: 10px;
  }
  .limitTime {
    margin-left: 16px;
  }
  .content {
    text-align: center;
  }
  .download-wrap {
    height: 60px;
    margin: 0 auto;
    margin-top: 80px;
    display: inline-block;
    position: relative;
  }
  .pwdinput {
    width: 100px;
    // margin: 0 12px;
    margin-left: 8px;
    margin-right: 10px;
  }
  .on-error {
    border: 1px solid #f5222d;
  }
  .error-tips {
    color: #f5222d;
    position: absolute;
    left: 48px;
    margin-top: 8px;
    font-size: 16px;
  }
}



// mobile
.mobile-header{
  height: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  background: #fff;
  .header-logo{
    vertical-align: middle;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    display: inline-block;
    background-color: #0692e1;
    border-radius: 50%;
    line-height: 32px;
  }
  span{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
  }
}
.mobile-wrap{
  padding: 0 17px;
  .m-doc-title{
    margin-top: 23px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #2e313c;
    border-bottom: solid 1px #e5e9ed;
  }
  .m-doc-date{
    color: #656d78;
    font-size: 14px;
    padding-top: 12px;
  }
  .op-container{
    margin-top: 32px;
    position: relative;
  }
  .m-error-tips{
    position: absolute;
    top: 42px;
    left: 40px;
    color: #f5222d;

  }
}
